@tailwind base;
@tailwind components;
@tailwind utilities;

.alignment {
    align-items: center;
    text-align: center;
}
.title {
    font-size: 50px;
}
.label {
    font-size: 16px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px
}

h1 {
    font-family: Arial;
}

h3, h4{
    font-family: Helvetica;
    font-size: medium;
}

.input {
    @apply transition-all duration-500 rounded-md border-2 border-gray-300 hover:border-black;
}